.App-header {
  background-color: #09161C;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 2vh 4vw 2vh 4vw;
}

.HeaderLeftSection {
  display: flex;
  align-items: center;
}

.HeaderTitle {
  font-size: 2rem;
  margin-right: 4vw;
}

.HeaderTitle a {
  text-decoration: none;
  color: white;
}

.header-home {
  flex-direction: row-reverse;
  padding-top: 3.3vh;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li a {
  display: block;
  padding: 0 2vw;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.25rem;
}