.StatsBoxMobile {
  display: flex;
  flex-direction: column;
}

.StatsBox {
  display: flex;
  flex-direction: row;
}

.StatsBox ul {
  margin: 0 1rem;
}

.StatsBox ul li {
  font-size: 1rem;
}

.StatsBoxMobile ul {
  margin: 1rem 0;
}

.StatsBoxMobile ul li {
  font-size: 1rem;
}

.StatsHeader {
  border-bottom: solid 1px lightseagreen;
  margin-bottom: 0.25rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.25rem;
}
