.GamesTabSelector {
  display: flex;
  margin: 2rem 5vw 0 5vw;
}

.GamesTabSelectorMobile {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0.1rem 0 0.1rem;
}

.GameTab {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  margin: 0 2rem;
  cursor: pointer;
}

.GameTabMobile {
  display: flex;
  flex-direction: column;
  padding: 0 1vw;
  margin: 0 1vw;
}

.CurrentTab {
  background-color: #111b1f;
  border-radius: 1rem 1rem 0 0;
}

.NormalTab {
  opacity: 0.5;
}

.TabTime {
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.TabTimeMobile {
  font-size: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.TabImage {
  align-self: center;
  padding: 1rem 0;
  width: 100px;
  height: 100px;
}

.TabImageMobile {
  align-self: center;
  padding: 0.25rem 0;
  width: 16vw;
  height: 16vw;
}
