.EndMessageCard {
  display: flex;
  flex-direction: column;
  padding: 10rem 0;
  max-width: 40vw;
  margin: auto;
}

.EndMessageCardMobile {
  display: flex;
  flex-direction: column;
  padding: 5rem 0;
  max-width: 80vw;
  margin: auto;
}

.EncouragementMessage {
  font-size: 4.5rem;
}

.EncouragementMessageMobile {
  font-size: 2rem;
}

.RedirectTop {
  border-radius: 60px;
  box-sizing: border-box;
  border: 2px solid white;
  align-self: center;
  font-size: 1.5rem;
  padding: 1rem;
  margin-top: 3rem;
  transition: 0.5s;
}

.RedirectTopMobile {
  border-radius: 40px;
  box-sizing: border-box;
  border: 2px solid white;
  align-self: center;
  font-size: 0.75rem;
  padding: 1rem;
  margin-top: 2rem;
  transition: 0.5s;
}

.RedirectTop:hover {
  background-color: white;
  color: #1B2C32;
}

.RedirectTopMobile:hover {
  background-color: white;
  color: #1B2C32;
}

.RedirectTop a, .RedirectTopMobile a {
  text-decoration: none;
  color: inherit;
}