.TurningPointsSummaryCard {
  background-color: #111b1f;
}

.TurningPointsSummary {
  font-size: 3.5rem;
  width: 30vw;
  padding: 12.5rem 0;
  margin: 0 auto;
}

.TurningPointsSummaryMobile {
  font-size: 2.5rem;
  width: 90vw;
  padding: 6rem 0;
  margin: 0 auto;
}

.WinningTeamText, .AllyTeamText {
  color: #1E9BD0;
}

.LosingTeamText, .EnemyTeamText {
  color: #E24242;
}

.TurningPointsText {
  color: #D9BD81;
}

.TurningPointSplashTitle {
  font-size: 1rem;
}

.TurningPointSplash {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: linear-gradient(90deg, #000000 0%, #000000 40.3%, rgba(0, 0, 0, 0) 77.6%, rgba(0, 0, 0, 0) 100%);
}

.TurningPointSplashMobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: linear-gradient(90deg, #000000 0%, #000000 40.3%, rgba(0, 0, 0, 0.3) 85%, rgba(0, 0, 0, 0) 100%);
}

.TurningPointSplashContent {
  max-width: 40vw;
  text-align: start;
  margin: 3rem 0 17rem 5rem;
}

.TurningPointSplashContentMobile {
  max-width: 80vw;
  text-align: start;
  margin: 2rem 0 6rem 2rem;
}

.TurningPointSplashBody {
  margin-top: 12.5rem;
  font-size: 3.5rem;
}

.TurningPointSplashBodyMobile {
  margin-top: 6rem;
  font-size: 2rem;
}

.KillContributorsCard {
  background-color: #111b1f;
  padding: 3rem 0 3rem 0;
}

.KillContributorsCardMobile {
  background-color: #111b1f;
  padding: 1.5rem 0 1.5rem 1rem;
}

.ContributorsCardContainer {
  padding: 2rem 0 2rem 2rem;
}

.ContributorsCardContainerMobile {
  padding: 1rem 0;
}

.ContributorsCardTitle {
  font-size: 1.5rem;
  text-align: left;
}

.ContributorsCardTitleMobile {
  font-size: 1rem;
  text-align: left;
}

.ContributorChampionName {
  font-size: 1.5rem;
}

.ContributorChampionNameMobile {
  font-size: 1.25rem;
}

.ContributorKillImg {
  width: 120px;
  height: 120px;
  border-radius: 100px;
  margin-right: 2rem;
}

.ContributorKillImgMobile {
  width: 90px;
  height: 90px;
  border-radius: 60px;
  margin-right: 1rem;
}

.KillContributorInfo {
  display: flex;
  margin-right: 3rem;
  margin-top: 2rem;
}

.KillContributorInfoMobile {
  display: flex;
  margin-top: 2rem;
}

.KillContributorContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ContributorDescription {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.ContributorKillData {
  display: flex;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.ContributorKillsAssists {
  margin-right: 0.75rem;
}

.ContributorGoldXPData {
  font-size: 0.75rem;
}

.ContributorGoldData, .ContributorXPData {
  margin-top: 0.5rem;
}

.SurvivedPlayerText {
  color: #45da43;
}

.KilledPlayerText {
  color:#E24242;
}

.ContributorGoldXPDescription {
  color: #585f62;
}
