.InfoCard {
  background-color: #1b2c32;
  border: solid 0.1em;
  margin: 1em 2vw 1em 2vw;
  max-width: 90vw;
}

.InfoCard ul,
.InfoBarMobile ul {
  list-style-type: none;
  padding-left: 0;
}

.InfoBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1em 1em 1em 1em;
}

.InfoBar > * {
  margin: 0 1rem;
}

.InfoBarMobile {
  background-color: #1b2c32;
  border: solid 0.1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1em 1em 1em 1em;
  padding: 1rem;
}
